<div id="guest">
  <h1>Add a new specie</h1>

  <div class="divider"></div>

  <!-- <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="hotelSelect">Hotel</label>
      </div>
      <select
        class="custom-select"
        id="hotelSelect"
        (change)="updateSelectedHotel($event.target.options.selectedIndex)"
      >
        <option *ngFor="let hotel of hotelPKs">{{ hotel.name }}</option>
      </select>
    </div>
  </div> -->

  <!-- <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="roomSelect">Room</label>
      </div>
      <select
        class="custom-select"
        id="roomSelect"
        (change)="updateSelectedRoom($event.target.options.selectedIndex)"
      >
        <option *ngFor="let room of rooms">{{ room.roomnb }}</option>
      </select>
    </div>
  </div> -->

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom Scientifique</th>
      <th class="contentCell">Nom commun</th>
      <th class="contentCell">Statut</th>
      <th class="contentCell">Prédateur</th>
    </thead>
    <tbody>
      <tr>
        <td>
        <input type="text" name="nomscientifique" [(ngModel)]="specie.nomscientifique" class="form-control" id="nomscientifique" required #nomscientifique="ngModel"
        pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+" 
        minlength="2" 
        maxlength="30">

        </td>
        <td>
          <input type="text" name="nomcommun" [(ngModel)]="specie.nomcommun" class="form-control" id="nomcommun" required #nomcommun="ngModel"
          pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+" 
          minlength="2" 
          maxlength="30">
  
        </td>
        <td>
          <select [(ngModel)]="statusId" (change)="statusChange(statusId)">
            <option *ngFor="let status of statusOptions" [ngValue]="status.id">{{ status.name }}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="predatorId" (change)="predatorChange(predatorId)">
            <option *ngFor="let predator of predatorOptions" [ngValue]="predator.id">{{ predator.name }}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn" (click)="addSpecie(specie)">Ajouter l'espèce</button>
  <p *ngIf="invalidSpeciePK"> Espèce invalide </p>
</div>
