<div id="guest">
  <h1>{{specie.nomscientifique}}</h1>

  <div class="divider"></div>

  <!-- <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="hotelSelect">Hotel</label>
      </div>
      <select
        class="custom-select"
        id="hotelSelect"
        (change)="updateSelectedHotel($event.target.options.selectedIndex)"
      >
        <option *ngFor="let hotel of hotelPKs">{{ hotel.name }}</option>
      </select>
    </div>
  </div> -->

  <!-- <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="roomSelect">Room</label>
      </div>
      <select
        class="custom-select"
        id="roomSelect"
        (change)="updateSelectedRoom($event.target.options.selectedIndex)"
      >
        <option *ngFor="let room of rooms">{{ room.roomnb }}</option>
      </select>
    </div>
  </div> -->

  
  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom Scientifique</th>
      <th class="contentCell">Nom commun</th>
      <th class="contentCell">Statut</th>
      <th class="contentCell">Prédateur</th>
    </thead>
    <tbody>
      <tr>
        <td class="contentCell">{{ specie.nomscientifique }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeSpecieCommonName($event, specie)">{{ specie.nomcommun }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeSpecieStatus($event, specie)">{{ specie.statutspeces}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeSpeciePredator($event, specie)">{{ specie.nomscientifiquecomsommer }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn" (click)="updateSpecie(specie)">Soumettre modifications</button>
</div>

