<div id="hotel">
  <h1>Bird Species</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom Scientifique</th>
      <th class="contentCell">Nom commun</th>
      <th class="contentCell">Statut</th>
      <th class="contentCell">Prédateur</th>
      <th class="actionCell">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let specie of species; let i = index">
        <td class="contentCell">{{ specie.nomscientifique }}</td>
        <td class="contentCell">{{ specie.nomcommun }}</td>
        <td class="contentCell">{{ specie.statutspeces}}</td>
        <td class="contentCell">{{ specie.nomscientifiquecomsommer }}</td>
        <td class="actionCell">
          <button type="button" class="editbtn" (click)="editBird(specie.nomscientifique)"><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deleteBird(specie)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>

      <tr class="blank_row">
        <td class="contentCell"></td>
    </tr>

    </tbody>
  </table>

</div>
