<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP4</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/birdSpecies">Bird Species</a>
      <a class="nav-item nav-link active" routerLink="/add">Add</a>
      <a class="nav-item nav-link active" routerLink="/edit">Edit</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Welcome<br />to<br /><span class="hotel1">hotels</span
    ><span class="hotel2">hotels</span><span class="hotel3">hotels</span>
  </p>
  <button type="button" class="btn" routerLink="/birdSpecies">CHECK OUR BIRD SPECIES &#10140;</button>
</div>

<router-outlet></router-outlet>
